body {
    font-family: Arial, Helvetica, sans-serif;
    padding:3px;
}
form {
    border: 2px solid black;
    padding:20px 50px 70px 50px;
    margin-top:100px;
    width:44%;
    margin: auto;
    margin-bottom:100px;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0088CC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  margin: 24px 0 12px 0;
    text-align: center;
}

img.avatar {
  width: 100%;
  border-radius: 50%;

}
span.psw {
	
  float: right;

}
img{
	  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 760px;
    height: 100px;
}
.blue{
    background-color:#0088CC;
    padding: 10px;
    color:black;
    text-align: center;
    margin-bottom: 40px;
    font-size:20px;
}

#footer{
    background-color: #282928; 
    color: #505250; 
    padding: 10px;
    line-height: 30px;
    display: block;
}

.about{
  display: inline-block;
  float: left;
  width: 80%;
  padding-left: 25px;
  font-size: 20px;
}

.copyright{
  display: block;
}

.contact-us{
  display: inline-block;
}

h3{
  float: right;
  margin-right: 220px;
}

#icons{
  float: right;
  margin-right: 130px;
}

i{
  margin: 10px;
  font-size: 30px;
}

a{
  color: #f7f9fa;
}

strong{
  color: #f7f9fa;
}