body {
    font-family: Arial, Helvetica, sans-serif;
    padding:3px;
}
form {
   
   
    width:60%;
    margin: auto;
    margin-top:150px;
    margin-bottom:100px;
    margin-right: 100px;
    
    
    
}

input[type=text], input[type=number],input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: border-right;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  margin: 24px 0 12px 0;
  text-align: center;
  
}

img.avatar {
  width: 100%;
  border-radius: 50%;
}
span.psw {
  float: right;
}
img{
    width: 760px;
    height: 100px;
}
.blue{
    background-color:#0088CC;
    padding: 10px;
    color:black;
    text-align: center;
    margin-bottom: 1px;
    font-size:20px; 
}

button{
  background-color: #0088CC;
  color: lightblue;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#abutton{
  text-decoration: none;
  color: white;
}

#footer{
    background-color: #2d2e2e; 
    color: #7f8082; 
    padding: 10px;
    line-height: 30px;
    display: inline-block;
}

.about{
  display: inline-block;
  float: left;
  width: 80%;
  padding-left: 25px;
  font-size: 25px;
  line-height: 40px;
}

.copyright{
  display: block;
}

.contact-us{
  display: inline-block;
}

h3{
  float: right;
  margin-right: 220px;
}

#icons{
  float: right;
  margin-right: 130px;
}

i{
  margin: 10px;
  font-size: 30px;
}

a{
  color: #f7f9fa;
}

strong{
  color: #f7f9fa;
}